body {
    background:url("../images/wood.jpg");
}

.txtColor1 {
    color: #ffff;
}

.txtColor2 {
    color:green;
}

.backgroundColor1 {
    background-color: green;
}

.backgroundColor2 {
    background-color: aqua;
}

.backgroundColor3 {
    background-color: #009999;
}

